:root {
  --btn-width:60px;
  --color-tile:rgb(255, 255, 128);
}

div.menu{
  display: flex;
  margin: auto;
  width: calc(var(--btn-width)*4);
}

div.menu button{
  width:var(--btn-width);
  height:30px;
}

.menuHeader{
  font-size:18px;
  text-align:center;
  margin-bottom: 8px;
  margin-top: 0;
}

.menuWrapper{
  border:1px solid black;
  padding:8px;
}